@charset "utf-8";
/* CSS Document */
.footer {
	clear: both;
	height: 8%;
	margin: 0px;
	padding: 0;
	text-align: center; /*字体居中*/
}
.footer .fankui {
	overflow: hidden;
	z-index: 9999;
	position: fixed;
	padding: 5px;
	text-align: center;
	width: 100px;
	height: 44px;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	right: 5px;
	bottom: 1px;
}
.footer .fankui a {
	text-decoration: none;
	color: #999999;
}
.footer .fankui a:hover {
	text-decoration: none;
	color: #CCCCCC;
}
.footer h1 {
	text-transform: uppercase;
	color: #2c3e5070;
	background-image: url(../image/water.png);
	-webkit-background-clip: text;
	background-clip: text;
	animation: water 15s infinite;
	animation-timing-function: linear;
	-webkit-animation-timing-function: linear;
}
 @keyframes water {
 from {
 background-position:left 0 top 0;
}
to {
	background-position: left 1000px top 0;
}
}
