@charset "utf-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
}
body, html {
	margin: 0 0 0 0;
	overflow: hidden hidden;
}
.all {
	width: 100%;
	height: 100%;
	border: none;
	margin: 0px auto;
	padding: 0;
	position: absolute;/*	top: 2px;*/
}
.bg {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.bg img {
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	-khtml-opacity: 0.8;
	opacity: 0.8;
	vertical-align:bottom;
}
.header {
	height: 22%;
	margin: 0px;
	padding: 0;
	display: flexï¼›
}
.header .logo {
	margin: 0;
	padding: 0;
	float: left;
	width: 50%;
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
.header .logo img {
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin: auto;
}
.header .daohang {
	margin-left: 2cm;
	float: right;
	width: 30%;
	height: 100%;
	display: flex;
}
.header .daohang button {
	height: 40px;
	width: 100px;
	position: relative;
	background: transparent;
	border-width: 1px medium;
	border-radius: 2em;
	outline: none;
	text-align: center;
}
.header .daohang .denglu {
	float: left;
	margin: 15% 5%;
}
.header .daohang .zhuce {
	float: right;
	margin: 15% 10%;
}
